.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(295deg, #2E0303 0.25%, #380505 25.53%, #550606 50.8%, #380505 76.07%, #2E0303 101.35%);
}
.hided{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.topBlock{
  min-height: 100vh;
  position: relative;
}
.transitionBlock{
  width: 100%;
  height: 72px;
  display: flex;
  margin-bottom: -36px;
  backdrop-filter: blur(15px);
}
.transitionBlockRevert{
  width: 100%;
  height: 72px;
  display: flex;
  margin-top: -36px;
  backdrop-filter: blur(15px);
}
.header{
  width: 100%;
  display: flex;
  height: 170px;
  align-items: center;
  padding: 0 100px;
  gap: 5px;
}
.Icon{
  width: 50px;
  height: 50px;
}
.locationBlock{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-left: auto;
}
.contactsBlock{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  margin-left: 40px;
}
.phoneNumber{
  font-size: 32px;
}
.mainTopBlock{
  display: flex;
  min-height: 50vw;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  width: 100%;
}
.mainTopBlockText{
  display: flex;
  flex-direction: column;
  flex: 1.3;
}
.mainTopBlockHeader{
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1.2px;
  margin-bottom: 20px;
}
.mainTopBlockTime{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.65px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.mainTopBlockLocation{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.65px;
  margin-bottom: 70px;
}
.phoneImage{
  width: 70%;
  flex: 0.8;
}

.mediumWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 32px 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mediumBlock{
  background: #000;
  /*height: 2000px;*/
}
.earthImage{
  width: 80%;
  position: absolute;
  z-index: 0;
  height: 80vw;
  opacity: .4;
}
.mediumMain{
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mediumHeader{
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -1.6px;
  margin: 80px 0;
  text-align: center;
}
.servicesWrapper{
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 45px 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.bottomBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 25px;
}
.bottomWrapperText{
  display: flex;
  gap: 150px;
}
.instagramBlock{
  display: flex;
  gap: 20px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.9px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1750px){
  .mainTopBlock{
    max-height: 700px;
  }
}

@media screen and (max-width: 1500px){
  .mainTopBlock{
    margin-top: 0;
    max-height: 700px;
  }
  .mainTopBlockHeader{
    font-size: 32px;
    margin-bottom: 15px;
  }
  .mainTopBlockTime{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .mainTopBlockLocation{
    font-size: 16px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1300px){
  .mainTopBlockHeader{
    font-size: 28px;
  }
  .mainTopBlockTime{
    font-size: 15px;
  }
  .mainTopBlockLocation{
    font-size: 15px;
    margin-bottom: 40px;
  }
  .phoneImage{
    width: 90%;
  }
}

@media screen and (max-width: 1100px){
  .header{
    padding: 25px;
  }
  .mainTopBlock{
    padding: 0 50px;
  }
  .bottomBlock{
    gap: 50px;
  }
  .bottomWrapperText{
    gap: 100px;
  }
}
@media screen and (max-width: 800px){
  .header > .locationBlock{
    display: none;
  }
  .contactsBlock{
    margin-left: auto;
  }
  .mainTopBlock{
    flex-direction: column;
    text-align: center;
  }
  .mainTopBlockText{
    align-items: center;
    justify-content: center;
  }
  .mainTopBlockLocation{
    display: none;
  }
  .phoneImage{
    width: 70%;
  }
  .mediumWrapper{
    padding: 15px 5px;
  }
  .mediumHeader{
    font-size: 34px;
    margin: 60px 0;
  }
  .earthImage{
    bottom: 150px;
  }
  .bottomWrapperText{
    gap: 50px;
  }
}
@media screen and (max-width: 600px){
  .header > .contactsBlock{
    display: none;
  }
  .header{
    justify-content: center;
    padding: 10px;
    height: 100px;
  }
  .mainTopBlockHeader{
    font-size: 22px;
    margin-top: 25px;
  }
  .mainTopBlockTime{
    font-size: 13px;
    margin-bottom: 25px;
  }
  .mainTopBlock{
    padding: 0;
  }
  .phoneImage{
    width: 95%;
  }
  .servicesWrapper{
    gap: 0;
    padding: 20px 0;
    margin-bottom: 40px;
  }
  .mediumHeader{
    font-size: 25px;
    margin: 40px 0;
  }
  .bottomWrapperText{
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .locationBlock{
    margin-left: 0;
    font-size: 14px;
  }
  .Icon{
    width: 30px;
    height: 30px;
  }
  .phoneNumber{
    font-size: 20px;
  }
  .bottomBlock{
    gap: 20px;
  }
  .instagramBlock{
    font-size: 20px;
  }
  .contactsBlock{
    font-size: 10px;
  }
}