.wrapper{
    background-color: #E4E4E4;
    border-radius: 30px;
    padding: 25px 30px;
    color: black;
    width: fit-content;
    font-size: 28px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.7px;
    transition: .3s;
    transform: scale(1);
}
.wrapper:hover{
    transform: scale(1.05);
}
.findUs{
    transform: rotate(-2deg);
    background-color: #850000;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 25px;
    cursor: pointer;
    transition: .3s;
}
.findUs:hover{
    transform: scale(1.05) rotate(-2deg);
}
.loadingButton{

}
.loadingButtonWrapper{
    border: 5px solid #E4E4E4;
    background: linear-gradient(295deg, #2E0303 0.25%, #380505 25.53%, #550606 50.8%, #380505 76.07%, #2E0303 101.35%);
    padding: 5px 8px;
    border-radius: 15px;
    color: #E4E4E4;
    width: 80%;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.loadingButtonWrapper:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 1350px){
    .wrapper{
        font-size: 20px;
        padding: 15px 20px;
    }
    .findUs{
        font-size: 28px;
    }
}
@media screen and (max-width: 1100px){
    .wrapper{
        font-size: 14px;
        padding: 15px 20px;
    }
    .findUs{
        font-size: 28px;
    }
}
@media screen and (max-width: 900px){
    .findUs{
        font-size: 24px;
    }
    .wrapper{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 700px){
    .findUs{
        font-size: 22px;
    }
}
@media screen and (max-width: 600px){
    .findUs{
        font-size: 20px;
    }
}